.login__form {
  width: 250px;
  min-height: 200px;
  position: absolute;
  left: 40%;
  top: 20%;
  padding: 30px;
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;


  input {
    margin-bottom: 15px;
    padding: 15px;
  }

  button {
    width: 100%;
  }

  h2 {
    text-align: center;
    padding-bottom: 30px;
  }

  span {
    margin-right: 7px;
  }

  .error {
    margin-top: 9px;
    color: red;
  }

}